.arkaplan
{
background-color: antiquewhite;
}
.üstyazı{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(185, 53, 106);
}
.loginKenarlık{
    
    border-radius: 5%;
    background-color: bisque;
    border-width:3px;
    border-color:rgb(0, 0, 0);
    border-style:solid;
    width:20%;
    border-style: dashed;
    
}