.body {
    background-color: #181a1b;
}

.menü {
    background-color: #142a9a;
    box-shadow: 2px 2px #161819;
    border-radius: 13px;
    position: fixed;
    width: 260px;
    font-family: "Roboto", sans-serif;
    color: white;
    height: 600px;
}



.menüİmg {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    align-self: center;
}

.menüLink {
    color: white;
    text-decoration: none;
}

.menüLink:hover {
    color: white;
    font-size: large;
    transition: 150ms;
    text-decoration: none;
}

.menüSosyalMedya {
    height: 45px;
    display: flex;
    align-items: flex-end;
}

.menüSosyalMedyaLink {
    color: red;
}

.menüSosyalMedyaLink:hover {
    color: black;
    transition: 600ms;
}


.a{
    display: none;
  }





#first-div {
   
    text-align: center;
    background-color: rgb(238, 238, 238);
}

#second1-div {
   
    margin-bottom: 10px;
    height: auto;
    
    margin-bottom: 20px;
}

#second2-div {
   
    margin-bottom: 10px;
    height: auto;
    background-color: rgb(238, 238, 238);
    margin-bottom: 20px;
}

#özgecmişresim {
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
    background-color: rgb(238, 238, 238);
    border: solid;
}

#span1 {
    text-align: center;
}

#span2 {
    border-radius: 5px;
    border-color: rgb(197, 197, 197);
  
    color: white;

}

#span3 {
    border-radius: 5px;
    border-color: rgb(197, 197, 197);
    padding-right: 30%;
    padding-left: 30%;
    font-size: 30px;
    box-sizing: 500px;



}

#div3 {
    
    
   
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}







@media screen and (max-width: 768px) {
    .hakkımdaBilgiler2 {
        flex-direction: column;
    }

    .divHakkımda {
        flex-direction: column;
    }

    .hakkımdaİmg {
        align-self: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .menü {
      display: none;
      
    }

    .a{
     
      display: block;
      margin-bottom: 20px;
    }
  }